li.mylist {
    padding: 5px 0px;
}

/* -- For JabRef -- */
table.jabref {
    width: 100%;
    empty-cells: show;
    border-spacing: 0em 0.3em;
    margin-top: 1em;
    color: black;
}

tr.noshow { display: none;}

tr.abstract td, tr.bibtex td {
    background-color: #F1F1F1;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    text-align: justify;
}

tr.bibtex pre {
    width = 100%;
    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word;
    overflow:auto;
}

p.infolinks { margin: 0.5em 0em 0em 0em; padding: 0px; }
/* -- end of JabRef part -- */
