<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{ SITENAME }} </title>
    <link rel="shortcut icon" href="{{ SITEURL }}/images/{{SHORTCUT_ICON}}" />

    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon.ico" />
    
    <script src="{{ SITEURL }}/theme/js/jquery-3.1.1.min.js"></script>

    <!-- extra css -->
    {% block extra_css %}{% endblock extra_css%}

    <!-- uikit basic -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/uikit.min.css"/>
    <script src="{{ SITEURL }}/theme/js/uikit.min.js"></script>

    <!-- uk components -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/components/sticky.css"/>
    <script src="{{ SITEURL }}/theme/js/components/sticky.js"></script>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/components/search.css"/>
    <script src="{{ SITEURL }}/theme/js/components/search.js"></script>

    <!-- self defined  -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/highlight.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css"/>

    <!-- for pelican_javascript plugin -->
    {% if page %}
    {% if page.stylesheets %}
    {% for stylesheet in page.stylesheets %}
    {{ stylesheet }}
    {% endfor %}
    {% endif %}
    {% endif %}
</head>
<body>

    <main class="jojo-theme">
        <div class="uk-container uk-container-center">

            <!-- nav -->
            {% if NAV %}
            <nav id="jojo-page-top" class="uk-navbar jojo-main-nav">
                <a href="{{ SITEURL }}" class="uk-navbar-brand"> {{ NAV.sitename }} </a>

                {% if NAV.navitems %}
                <ul class="uk-navbar-nav">
                    {% for item in NAV.navitems %}
                        <li {% if item.secondary %}class="uk-parent" data-uk-dropdown{% endif %}>
                            <a href="{{item.primary[1]}}"> {{item.primary[0]}} </a>
                            {% if item.secondary %}
                                <div class="uk-dropdown uk-dropdown-navbar">
                                    <ul class="uk-nav uk-nav-navbar">
                                        {% for subitem in item.secondary %}
                                            <li {% if subitem.type %}class="uk-nav-{{subitem.type}}"{% endif %}>
                                                {% if subitem.name %}
                                                    {{subitem.name}}
                                                {% endif %}
                                                {% if subitem.link %}
                                                    <a href="{{subitem.link[1]}}"> {{subitem.link[0]}} </a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if NAV.tipue_search %}
                <div class="uk-navbar-flip">
                    <div class="uk-navbar-content">
                        <form class="uk-search" data-uk-search="{source:'my-results.json'}" action="{{SITEURL}}/search.html">
                            <input id="tipue_search_input" class="uk-search-field" type="search" name="q" autocomplete="off" required placeholder="Search...">
                        </form>
                    </div>
                </div>
                {% endif %}

            </nav>
            {% endif %}

            {% if LOCATION %}
            <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-hover" id="jojo-location-panel">
                <ul class="uk-breadcrumb">
                    <li><a href="#" class="uk-icon-map-marker"></a></li>
                    <li><a href="{{ SITEURL }}"> home </a></li>
                    {% block location %}
                    {% endblock location %}
                </ul>
            </div>
            {% endif %}

            <div class="uk-grid uk-margin-large-top">
                <div class="uk-width-medium-1-10">

                    {% if SHARE_BUTTONS %}
                    {% block share %}
                    <div class="uk-panel jojo-share" data-uk-sticky>
                        <ul class="uk-nav uk-nav-side">
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" taget="_blank" class="uk-button">
                                    <i class="uk-icon-facebook-square"></i> Share
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/intent/tweet?text={{ SITEURL|striptags|urlencode }}&url={{ SITEURL }}&via={{ TWITTER_USERNAME }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="uk-button" target="_blank">
                                    <i class="uk-icon-twitter"></i> Share
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/share?url={{ SITEURL }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" class="uk-button">
                                    <i class="uk-icon-google-plus-square"></i> Share
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endblock share %}
                    {% endif %}

                    {% if CONTROL_BUTTONS %}
                    <div class="uk-panel jojo-share" data-uk-sticky="{top:300}">
                        <ul class="uk-nav uk-nav-side">
                            <li>
                                <a href="#jojo-page-top" class="uk-button" data-uk-smooth-scroll>
                                    <i class="uk-icon-chevron-up"></i> Top
                                </a>
                            </li>
                            <li>
                                <a href="#jojo-page-bottum" class="uk-button" data-uk-smooth-scroll>
                                    <i class="uk-icon-chevron-down"></i> Bot
                                </a>
                            </li>
                            {% block pre_next %}
                            {% endblock pre_next %}
                        </ul>
                    </div>
                    {% endif %}

                </div>
                <div class="uk-width-medium-7-10">
                    <div class="uk-margin-top">
                        <!-- content -->
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
                <div class="uk-width-medium-2-10">

                    <!-- page view -->
                    {% if PAGEVIEW_URL %}
                    <div class="uk-panel uk-panel-box">
                        <i class="uk-icon-eye"></i>
                            <script language="Javascript">
                            document.write('<a href="http://www.free-counter.jp/"></a>');</script><noscript>
                            <a href="http://hqm.f-counter.com/">counter</a>
                            <a href="http://www.free-counter.jp/">カウンター</a></noscript>
                            <a href="http://www.free-counter.jp/"><img src="{{PAGEVIEW_URL}}" alt="カウンター"></a>
                    </div>
                    {% endif %}

                    <!-- author info -->
                    {% if AUTHOR_INFO %}
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-panel-badge uk-badge"> About Us </div>
                        <h3 class="uk-panel-title"> {{ AUTHOR_INFO.id }} </h3>
                        <img class="uk-thumbnail uk-thumbnail-small uk-align-center"
                             src="{{ SITEURL }}/images/{{AUTHOR_INFO.photo}}"
                             alt="{{ AUTHOR_INFO.id }}">
                        <p>
                            <ul class="uk-list">
                                {% for kw, link in AUTHOR_INFO.intro_keywords %}
                                   <li> We are <a href="{{link}}">{{kw}}</a></li>
                                {% endfor %}
                            </ul>
                            {% for p in AUTHOR_INFO.intro %}
                                <p> {{p}} </p>
                            {% endfor %}
                        </p>
                        <p class="uk-text-right">
                            <a href="{{AUTHOR_INFO.url}}"> More... </a>
                        </p>
                        <hr>
                        {% if AUTHOR_INFO.social %}
                            <h3 class="uk-panel-title"> Contacts </h3>
                            {% for name, link in AUTHOR_INFO.social.icons %}
                                <a href="{{link}}"
                                   class="{% if AUTHOR_INFO.social.style.hover %} uk-icon-hover {% endif %}
                                          {% if AUTHOR_INFO.social.style.button%} uk-icon-button{% endif %}
                                          uk-icon-{{AUTHOR_INFO.social.style.size}}
                                          uk-align-left
                                          uk-icon-{{name}}">
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}

                    <!-- newest articles -->
                    {% if NEWEST_ARTICLES %}
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-panel-badge uk-badge uk-badge-danger"> Newest </div>
                        <h3 class="uk-panel-title"> Newest Articles </h3>
                        <ul class="uk-list uk-list-space">
                        {% if articles|length > NEWEST_ARTICLES %}
                            {% for article in articles[0:NEWEST_ARTICLES] %}
                                <li><a href="{{SITEURL}}/{{article.url}}"> {{ article.title }} </a></li>
                            {% endfor %}
                        {% else %}
                            {% for article in articles %}
                                <li><a href="{{SITEURL}}/{{article.url}}"> {{ article.title }} </a></li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if SIMPLE_PANELS %}
                        {% for panel in SIMPLE_PANELS %}
                            <div class="uk-panel uk-panel-box">
                                {% if panel.badge %}
                                    <div class="uk-panel-badge uk-badge {% if panel.badge.type %}uk-badge-{{panel.badge.type}}{% endif %}">
                                        {{panel.badge.string}}
                                    </div>
                                {% endif %}
                                {% if panel.title %}
                                    <h3 class="uk-panel-title"> {{panel.title}} </h3>
                                {% endif %}
                                {% if panel.photo %}
                                    <img class="uk-thumbnail uk-thumbnail-small uk-align-center" src="{{ SITEURL }}/images/{{panel.photo}}" alt="{{panel.title}}">
                                {% endif %}
                                <p> {{panel.content}} </p>
                                {% if panel.link %}
                                    <p class="uk-text-right"> <a href="{{panel.link.1}}"> {{panel.link.0}} </a> </p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <!-- related links -->
                    {% if RELATED_LINKS %}
                    <div class="uk-panel uk-panel-box">
                       <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                           <li class="uk-parent">
                               <a href="#"> Related Links </a>
                               <ul class="uk-nav-sub">
                                    {% for name, link in RELATED_LINKS %}
                                       <li><a href="{{link}}" target="_blank"> {{name}} </a></li>
                                    {% endfor %}
                               </ul>
                           </li>
                       </ul>
                    </div>
                    {% endif %}

                </div>
            </div>

            <!-- footer -->
            {% if FOOTER %}
            <footer id="jojo-page-bottum" class="uk-clearfix">
            <div class="uk-panel uk-panel-box uk-margin-large-top uk-container-center">
                <p class="uk-text-center">
                    &copy; 2017 {{ FOOTER.author }}. All rights reserved. <br>

                    Code snippets in the pages are released under
                    <a href="{{FOOTER.license.link}}">{{FOOTER.license.name}}</a>,
                    unless otherwise specified. <br><br>

                    News feed <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom feed</a>

                    Powered by <a href= "http://docs.getpelican.com/">Pelican</a>.
                    Theme <a href="https://github.com/dokelung/jojo">jojo</a> by <a href="http://dokelung.me/">dokelung</a>
                    powered by <a href="https://getuikit.com/v2/index.html"> uikit2 </a>
                    inspired by <a href="https://github.com/lucachr/pelican-mg">mg</a>.
                </p>
            </div>
            </footer>
            {% endif %}

        </div>
    </main>

    {% block extra_js %}{% endblock extra_js %}

    {% if GOOGLE_ANALYTICS %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', '{{GOOGLE_ANALYTICS}}', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}

    <!-- for pelican_javascript's plugin -->
    {% if page %}
    {% if page.javascripts %}
        {% for javascript in page.javascripts %}
    {{ javascript }}
        {% endfor %}
    {% endif %}
    {% endif %}	
</body>
</html>
