{% extends "base.html" %}

{% macro getlist(people) -%}
{% for person in people %}
<table>
  <tbody>
    <tr>
      {% if person.picture %}
      <td width="15%"><img alt="Picture" src="{{ person.picture }}" /></td>
      {% else %}
      <td width="15%"><img alt="Picture" src="http://axisbt.com/wp-content/uploads/2015/01/Avatar-Unknown-e1421191570958.png" /></td>
      {% endif %}
      <td width="5%">&nbsp;</td>
      <td width="80%"><em>Name</em> {{ person.name }} </br>
	<em>Email</em> {{ person.email }} </br>
	<em>Phone</em> {{ person.phone }} </br>
	<em>Office</em> {{ person.office }}
	{% if person.www %}
		</br>
		<em><a href="{{ person.www }}">Link to homepage</a></em>
	{% endif %}
	{% if person.comment %}
		</br>
		<em>Misc.</em> {{ person.comment }}
	{% endif %}		
      </td>
    </tr>
  </tbody>
</table>
<p></br></p>
{% endfor %}
{%- endmacro %}

{% block location %}
    <li class="uk-active"><span> pages </span></a></li>
    <li class="uk-active"><span> {{page.title}} </span></li>
{% endblock location %}

{% block share %}
    <div class="uk-panel jojo-share" data-uk-sticky>
        <ul class="uk-nav uk-nav-side">
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ page.url }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" taget="_blank" class="uk-button">
                    <i class="uk-icon-facebook-square"></i> Share
                </a>
            </li>
            <li>
                <a href="https://twitter.com/intent/tweet?text={{ page.title|striptags|urlencode }}&url={{ SITEURL }}/{{ page.url }}&via={{ TWITTER_USERNAME }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="uk-button" target="_blank">
                    <i class="uk-icon-twitter"></i> Share
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/share?url={{ SITEURL }}/{{ page.url }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" class="uk-button">
                    <i class="uk-icon-google-plus-square"></i> Share
                </a>
            </li>
        </ul>
    </div>
{% endblock share %}

{% block content %}
    <article class="uk-article">

        <h1 class="uk-article-title">
           <a href="{{SITEURL}}/{{ page.url }}" rel="bookmark"> {{ page.title }} </a>
        </h1>

        {% if page.tags %}
            <div class="tags">
                <i class="uk-icon-tags"></i>
                {% for tag in page.tags %}
                    <div class="uk-badge uk-badge-notification">
                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- meta -->
        <p class="uk-article-meta">
            {{ page.date }}
        </p>

        <hr class="uk-article-divider">

        {{ page.content }}

	<h3><a id="admin_staff">Team assistants</a></h3>
	
	{{ getlist(ADMIN_STAFF) }}

	<h3><a id="research_staff">Research scientists</a></h3>
	
	{{ getlist(RESEARCH_STAFF) }}

	<h3><a id="university_staff">University faculty</a></h3>
	
	{{ getlist(UNIVERSITY_STAFF) }}

	<h1>Temporary staff</h1>

	<hr/>

	<h3><a id="phd">PhD Students</a></h3>
	{{ getlist(PHD) }}

	<h3><a id="postdoc">Post-doctoral and engineer fellows</a></h3>
	{{ getlist(POSTDOC) }}

	<h3><a id="invited">Invited researchers</a></h3>
	{{ getlist(INVITED) }}

	<h3><a id="external">External collaborators</a></h3>
	{{ getlist(EXTERNAL) }}
	
	<h3><a id="alumni">Alumni</a></h3>

	<ul>
	{% for p in ALUMNI %}
	<li>
	  {% if p.www %}<a href="{{ p.www }}">{% endif %}{{ p.name }}{% if p.www %}</a>{% endif %}, {% if p.position %}left for {{ p.position }}{% endif %}
	</li>
	{% endfor %}
	</ul>
	
    </article>

{% endblock content %}
    
