{% extends "base.html" %}

{% block location %}
    <li class="uk-active"><span> pages </span></a></li>
    <li class="uk-active"><span> {{page.title}} </span></li>
{% endblock location %}

{% block share %}
    <div class="uk-panel jojo-share" data-uk-sticky>
        <ul class="uk-nav uk-nav-side">
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ page.url }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" taget="_blank" class="uk-button">
                    <i class="uk-icon-facebook-square"></i> Share
                </a>
            </li>
            <li>
                <a href="https://twitter.com/intent/tweet?text={{ page.title|striptags|urlencode }}&url={{ SITEURL }}/{{ page.url }}&via={{ TWITTER_USERNAME }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="uk-button" target="_blank">
                    <i class="uk-icon-twitter"></i> Share
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/share?url={{ SITEURL }}/{{ page.url }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" class="uk-button">
                    <i class="uk-icon-google-plus-square"></i> Share
                </a>
            </li>
        </ul>
    </div>
{% endblock share %}

{% block content %}
    <article class="uk-article">

        <h1 class="uk-article-title">
           <a href="{{SITEURL}}/{{ page.url }}" rel="bookmark"> {{ page.title }} </a>
        </h1>

        {% if page.tags %}
            <div class="tags">
                <i class="uk-icon-tags"></i>
                {% for tag in page.tags %}
                    <div class="uk-badge uk-badge-notification">
                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- meta -->
        <p class="uk-article-meta">
            {{ page.date }}
        </p>

        <hr class="uk-article-divider">

        {{ page.content }}
    </article>

{% endblock content %}
