{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block content %}

<script type="text/javascript">
    function disp(s) {
        var win;
        var doc;
        win = window.open("", "WINDOWID");
        doc = win.document;
        doc.open("text/plain");
        doc.write("<pre>" + s + "</pre>");
        doc.close();
    }
</script>

<p><font size=2>To get the list of publications per type, click <a href="{{ SITEURL }}/pages/pubtype.html">here</a>.</font></p>

<section id="content" class="body">

    <ul>
      {% set anc = '' %}
      {% for key, year, text, bibtex, pdf, code, pubtype in publications|sort(reverse=True, attribute=1) %}
      {% if anc|int() == year|int() %}
      {% else %}
    </ul>
    <h3>{{ year }}</h3>
    <hr>
    <ul>
      {% endif %}
      {% set anc = year  %}
      <li class="mylist" id="{{ key }}">{{ text }}
	[<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>]
      </li>
    {% endfor %}
    </ul>
</section>

{{ page.content }}
{% endblock %}
